= form_for @crumb do |f|
  - if @crumb.errors.any?
    #error_explanation
      %h2= "#{pluralize(@crumb.errors.count, "error")} prohibited this crumb from being saved:"
      %ul
        - @crumb.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :number
    = f.number_field :number
  .field
    = f.label :field_key
    = f.text_field :field_key
  .field
    = f.label :label
    = f.text_area :label
  .field
    = f.label :visual_options
    = f.text_area :visual_options
  .field
    = f.label :visible
    = f.check_box :visible
  .actions
    = f.submit 'Save'
