%p#notice= notice

%p
  %b Number:
  = @crumb.number
%p
  %b Field Key:
  = @crumb.field_key
%p
  %b Label:
  = @crumb.label
%p
  %b Visible:
  = @crumb.visible
%p
  %b Visual Options:
  = @crumb.visual_options.inspect


= link_to 'Edit', edit_crumb_path(@crumb)
\|
= link_to 'Back', crumbs_path
