:css
  .tab-content .tab-pane{
    text-align: center;
    font-size: 3em;
  }
  .home_tab{
    padding-top: 1em;
    padding-bottom: 1em;
  }

  // hack bootstrap
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-bottom-color: transparent;
    border: 5px solid #333333;
  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-bottom-color: transparent;
  }
  .number_description {
    margin: .5em 0 .25em;
    color: #666;
  }


.row
  .col-sm-12.col-md-4
    %ul.slothy
      - (1..12).each do |i|
        %li= I18n.t("sloth.img_line#{i}").html_safe

  .col-sm-12.col-md-8
    #crumbs_container
      %ul.nav.nav-tabs
        %li.active
          %a{ href: '#home', 'data-toggle' => "tab" }= 'Home'
        - @crumbs.each_with_index do |crumb_data, index|
          %li
            %a{ href: "##{crumb_data.field_key}", 'data-toggle' => "tab", 'data-field-key' => crumb_data.field_key, onclick: "tabClickInit(this);" }= index+1


      .tab-content
        #home{ class: 'active tab-pane fade in'}
          .home_tab
            #roller.textroller


        - @crumbs.each_with_index do |crumb_data, index|
          %div{ id: crumb_data.field_key, class: 'tab-pane fade' }
            .number_description
              = crumb_data.label
            %br
            - # odometer
            .odometer.odometer-theme-car{ class: crumb_data.field_key, data: { theme: "car", number: crumb_data.number } }


/`/"==..__"=..__ _    _..-==/"/"_
/           .-,`/"=/ /\ \""/_)==/"/"``
/          ( (    | | | \/ |
/           \ '.  |  \;  \ /
/            |  \ |   |   ||
/       ,-._.'  |_|   |   ||
/      .\_/\     -'   ;   Y
/     |  `  |        /    |-.
/     '. __/_    _.-'     /'
/            `'-.._____.-' "
/