.row
  .col-sm-12.col-md-4
    %ul.slothy
      - (1..12).each do |i|
        %li= I18n.t("sloth.img_line#{i}").html_safe

  .col-sm-12.col-md-8
    #crumbs_container
      %ul.nav.nav-tabs
        %li.active
          %a{ href: '#home', 'data-toggle' => "tab" }= 'Home'
        - (@odometer_crumbs + @text_crumbs).each_with_index do |crumb_data, index|
          %li
            - data =  crumb_data.nested_elements.any? ? crumb_data.nested_elements.map(&:field_key).join(',') : crumb_data.field_key
            %a{ href: "##{crumb_data.field_key}", 'data-toggle' => "tab", 'data-field-key' => data, onclick: "tabClickInit(this);" }= index+1


      .tab-content
        #home{ class: 'active tab-pane fade in'}
          .home_tab
            #roller.textroller

        - @odometer_crumbs.each do |crumb_data|
          %div{ id: crumb_data.field_key, class: 'tab-pane fade' }
            - if crumb_data.nested_elements.any? # build nested elements on the same tab
              - crumb_data.nested_elements.each do |nested_crumb|
                .number_description
                  = nested_crumb.label
                - # odometer
                .odometer.odometer-theme-car{ class: nested_crumb.field_key, data: { theme: "car", number: nested_crumb.number } }
            - else
              .number_description
                = crumb_data.label
              - # odometer
              .odometer.odometer-theme-car{ class: crumb_data.field_key, data: { theme: "car", number: crumb_data.number } }

          - # tab w/o odometer
          -  @text_crumbs.each do |text_crumb_data|
            %div{ id: text_crumb_data.field_key, class: 'tab-pane fade' }
              .number_description
                = text_crumb_data.label



/`/"==..__"=..__ _    _..-==/"/"_
/           .-,`/"=/ /\ \""/_)==/"/"``
/          ( (    | | | \/ |
/           \ '.  |  \;  \ /
/            |  \ |   |   ||
/       ,-._.'  |_|   |   ||
/      .\_/\     -'   ;   Y
/     |  `  |        /    |-.
/     '. __/_    _.-'     /'
/            `'-.._____.-' "
/